.portal-content{
    padding: 80px 5% 40px 5%;
}
body {
    font-family: 'PT Sans Caption', sans-serif !important;
}
h1{
    color: #000c52;
    font-size: xx-large !important;
}
h2{
    font-size: x-large !important;
}